@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), url(open-sans-v15-latin-300.woff2) format("woff2"), url(open-sans-v15-latin-300.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Regular"), url(open-sans-v15-latin-regular.woff2) format("woff2"), url(open-sans-v15-latin-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body, form, figure {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

header, footer, nav, section, aside, article, figure, figcaption {
    display: block
}

body {
    font-size: 100.01%
}

select, input, textarea {
    font-size: 99%
}

#container, .inside {
    position: relative
}

#main, #left, #right {
    float: left;
    position: relative
}

#main {
    width: 100%
}

#left {
    margin-left: -100%
}

#right {
    margin-right: -100%
}

#footer {
    clear: both
}

#main .inside {
    min-height: 1px
}

.ce_gallery > ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none
}

.ce_gallery > ul li {
    float: left
}

.ce_gallery > ul li.col_first {
    clear: left
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.block {
    overflow: hidden
}

.clear, #clear {
    height: .1px;
    font-size: .1px;
    line-height: .1px;
    clear: both
}

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.custom {
    display: block
}

#container:after, .custom:after {
    content: "";
    display: table;
    clear: both
}

@media (max-width: 767px) {
    #wrapper {
        margin: 0;
        width: auto
    }

    #container {
        padding-left: 0;
        padding-right: 0
    }

    #main, #left, #right {
        float: none;
        width: auto
    }

    #left {
        right: 0;
        margin-left: 0
    }

    #right {
        margin-right: 0
    }
}

img {
    max-width: 100%;
    height: auto
}

body {
    font: 18px 'Open Sans', sans-serif;
    color: #333;
    font-weight: 300;
    background: radial-gradient(circle at 50% 100% ,#25455f,#172b3b);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}

h1, h2, h3, h4, h5, h6 {
    color: #FFF;
    font-weight: 400
}

h1 {
    margin: 0 0 .67em;
    text-align: center;
    font-size: 44px;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px
}

h3 {
    font-size: 21px
}

strong, b {
    font-weight: 400
}

p {
    margin: 10px 0
}

a {
    text-decoration: none;
    color: #eb8623
}

a:hover {
    color: #cb5f06
}

h1 + * {
    text-align: center;
    max-width: 900px;
    font-size: 21px;
    margin: 0 auto;
    font-weight: 300;
}

#container {
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    padding: 0 15px
}

@media (min-width: 768px) {
    #container {
        width: 750px
    }
}

@media (min-width: 992px) {
    #container {
        width: 940px
    }
}

@media (min-width: 1200px) {
    #container {
        width: 1180px
    }
}

.mod_article {
    margin-bottom: 40px
}

.ce_sliderStart {
    clear: both
}

.content-slider {
    margin: 0 -10px
}

.content-slider:before, .content-slider:after {
    content: " ";
    display: table
}

/* Adjustments */

#header {
    margin: 15px 15px 10px
}

#main {
    color: #FFF;
}

#logo {
    display: block;
    width: 140px;
}

h1 {
    font-size: 44px;
}

#intro {
    padding: 6vh 0;
}

@media (min-width: 768px) {
    #header {
        margin: 25px 15px 10px;
    }

    #logo {
        width: auto;
    }

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {

    #header {
        margin: 25px 40px 10px;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 36px;
    }
}

.fork-on-github {
    right: -36px;
    top: -30px;
    position: absolute
}

@media (max-width: 767px) {
    .fork-me-on-github {
        display: none
    }
}

#footer {
    padding: 25px 0;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    border-right: 0 solid #eaeaea;
    border-bottom: 0 solid #eaeaea;
    border-left: 0 solid #eaeaea
}

.ce_hyperlink, .ce_book {
    float: left;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e1
}

.ce_hyperlink {
    width: 113px;
    min-width: 113px
}

.ce_hyperlink img {
    width: 100%;
    display: block
}

.ce_book {
    width: 260px;
    height: 320px;
    min-width: 260px;
    min-height: 320px;
    position: relative;
    padding-bottom: 12px
}

.ce_book.beta:before, .ce_book.outdated:before {
    width: 140px;
    right: -35px;
    top: 20px;
    position: absolute;
    padding: 5px 0;
    text-align: center;
    background-color: #eb8623;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    -webkit-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
    -moz-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
    -o-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
    -ms-transform: rotate(45deg) scale(1) skew(1deg) translate(0);
    transform: rotate(45deg) scale(1) skew(1deg) translate(0)
}

.ce_book.outdated:before {
    content: "outdated"
}

.ce_book.beta:before {
    content: "beta"
}

.ce_book figure, .ce_book .content {
    cursor: pointer
}

.ce_book .content {
    margin: 0 12px;
    color: #333
}

.ce_book h3 {
    margin: 0 0 10px
}

.ce_book p {
    margin: 0
}

.ce_book ul, .ce_book li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.ce_book a.downloads {
    bottom: 12px;
    left: 12px;
    position: absolute;
    line-height: 30px;
    z-index: 10
}

.ce_book div.downloads {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    display: none;
    padding: 12px;
    background-color: #f0f0f0;
    z-index: 20
}

.ce_book a.downloads:active + div.downloads, div.downloads:hover, div.downloads:target {
    display: block
}

.ce_book .downloads p {
    color: #505050
}

.ce_book .read {
    bottom: 12px;
    right: 12px;
    position: absolute;
    padding-right: 20px;
    line-height: 30px
}

.ce_book .read:after {
    width: 13px;
    height: 26px;
    right: 0;
    top: 3px;
    position: absolute;
    background-image: url(../../files/layout/arrow-right.svg);
    background-position: left top;
    background-repeat: no-repeat;
    content: '';
    background-size: 100%
}

@media (max-width: 991px) {
    .mod_article, .ce_sliderStart {
        overflow: visible
    }

    .mod_article:before, .ce_sliderStart:before {
        content: "";
        display: table
    }

    .content-slider {
        position: relative;
        margin: 0 -10px;
        overflow-x: auto
    }

    .content-slider .slider-wrapper {
        display: table;
        border-spacing: 20px
    }

    .content-slider .ce_book, .content-slider .ce_hyperlink {
        float: none;
        display: table-cell

    }
}
