@import 'theme-relearn-light.css';
@import 'theme-contao.css';

:root {
    --MAIN-TEXT-color: #323232;

    --MAIN-TITLES-H1-TEXT-color: #5e5e5e;
    --MAIN-TITLES-TEXT-color: #5e5e5e;

    --MAIN-LINK-color: #1C90F3;
    --MAIN-LINK-HOVER-color: #167ad0;
    --MAIN-SECONDARY-color: #1C90F3;

    --CODE-INLINE-BG-color: #F6F6F6;
    --CODE-INLINE-BORDER-color: #F6F6F6;
    --CODE-INLINE-color: #5e5e5e;
}
