:root {
    --CONTAO: #f47c00;
    --CONTAO-muted: #ffae5b;

    --PRIMARY-color: var(--CONTAO);

    --MAIN-font: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --MAIN-font-weight: 400;
    --MAIN-letter-spacing: normal;

    --NETWORK-BAR-height: 34px;
}

#R-body-inner {
    scroll-behavior: smooth;
}

#R-body .flex-block-wrapper {
    max-width: 1200px;
    margin-left: 0;
    width: 100% !important;
}

#R-sidebar {
    font-weight: 300;
}

h1 {
    text-align: left;
}

b, strong, label, th {
    font-weight: 600;
}

#R-header-wrapper {
    border-bottom: 4px solid var(--MENU-HEADER-BORDER-color);
}

#R-homelinks {
    display: none;
}

.children-li p {
    font-size: small;
}

/* Logo */
#R-header #logo {
    display: block;
}

#logo svg {
    max-width: 184px;
    height: auto;
    margin: 0;
    display: block;
}

#logo span {
    display: block;
    text-align: left;
    margin-top: 4px;
    color: white;
}

/* algolia */
#sidebar {
    z-index: 1;
}

.algolia-searchbox {
    margin-top: 1rem;
    position: relative;
    border: 1px solid var(--MENU-SEARCH-BORDER-color);
    background: var(--MENU-SEARCH-BG-color);
    border-radius: 4px;
}

.algolia-searchbox .algolia-autocomplete {
    display: block !important;
}

.algolia-searchbox .algolia-autocomplete .ds-dropdown-menu {
    max-width: 800px;
    min-width: 600px;
}

.algolia-searchbox label[for="algolia-search"] {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
}

.algolia-searchbox span[data-search-clear] {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.algolia-searchbox span[data-search-clear]:hover {
    color: rgba(255, 255, 255, 0.9);
}

.algolia-searchbox input[type="search"] {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
    font-weight: 300;
    appearance: none;
    -webkit-appearance: none;
}

.algolia-searchbox input[type="search"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.DocSearch-Button {
    --docsearch-muted-color: var(--MENU-SEARCH-color);
    --docsearch-text-color: var(--MENU-SEARCH-color);
    --docsearch-searchbox-background: transparent;
    --docsearch-searchbox-focus-background: transparent;
    --docsearch-searchbox-shadow: none;
    margin-left: 0;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: var(--MENU-SEARCH-color);
    width: 18px;
    height: auto;
}

.DocSearch .DocSearch-Button-Placeholder {
    font-size: inherit;
    padding-left: 5px;
    padding-right: 0;
}

.DocSearch .DocSearch-Button-Key {
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-text-color: rgb(150, 159, 175);
}

.DocSearch .DocSearch-Input {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0 0 0 8px;
    width: 80%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    transition: none;
}

/*
 * A little ugly hack: I want only the subpages of /reference/hooks/
 * to not have text-transform: uppercase; on the h1,
 * not the /reference/hooks/ page as well.
 */
body[data-url*="/reference/hooks/"]:not([data-url*="/reference/hooks/index.html"]) h1 {
    text-transform: none;
}

/* hide level 3 in general */
#R-sidebar ul.collapsible-menu > li > ul > li > ul,
#R-sidebar ul.collapsible-menu > li.active > ul > li > ul,
#R-sidebar ul.collapsible-menu > li.parent > ul > li > ul {
    display: none;
}

/* show level 3 when parent is active */
#R-sidebar ul.collapsible-menu > li.parent > ul > li.active > ul,
#R-sidebar ul.collapsible-menu > li.parent > ul > li.parent > ul {
    display: block;
}

/* hide level 3 on hooks page */
body[data-url*="/reference/hooks/"] #R-sidebar ul.collapsible-menu > li.parent > ul > li.parent > ul {
    display: none;
}

/* Banner */
#R-body .banner a.highlight {
    background: rgba(244, 124, 0, 1);
    border: 1px solid rgba(244, 124, 0, .2);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 1rem;
    margin: 2rem 0;
    padding: 10px 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    line-height: 1.1;
}

#R-body .banner a:focus,
#R-body .banner a:hover {
    background: rgba(244, 124, 0, .8);
}

#R-body .banner a.highlight::after {
    background-color: transparent;
}

.banner span {
    display: block;
}

.banner .title {
    font-weight: bold;
    margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) {
    .banner span {
        display: inline;
    }
    .banner .title {
        padding-right: 3rem;
    }
}

/* contao.org Top Navigation */
:root {
    --NETWORK-BAR-height: 34px;
}

body:before {
    content: '';
    background-color: #222;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: var(--NETWORK-BAR-height);
    z-index: 100;
}

#contao-network {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    letter-spacing: normal;
}

#R-sidebar,
#R-body,
.DocSearch-Container {
    margin-top: var(--NETWORK-BAR-height);
}

#R-sidebar,
#R-body {
    min-height: calc(100% - var(--NETWORK-BAR-height));
    height: calc(100% - var(--NETWORK-BAR-height));
}

#top-bar-sticky-wrapper {
    padding-top: var(--NETWORK-BAR-height);
    margin-top: calc(var(--NETWORK-BAR-height) * -1);
    box-sizing: content-box;
}

#top-bar-sticky-wrapper.is-sticky #top-bar {
    top: var(--NETWORK-BAR-height) !important;
}

/*
  Issue workflow (/dev/internals/issue-workflow/)
*/
span[class^="issue-label-"] {
    padding: 0 3px 2px;
    border-radius: 3px;
}

.issue-label-bug {
    background-color: #bd2c00;
    color: #fff;
}

.issue-label-feature {
    background-color: #3364b7;
    color: #fff;
}

.issue-label-discuss {
    background-color: #86c60d;
}

.issue-label-help {
    background-color: #c4dcfc;
}

.issue-label-status {
    background-color: #fbca04;
}
