:root {
    --CONTAO-brand-color: #f47c00;
    --CONTAO-brand-color-muted: #ffae5b;
    --CODE-theme: contao;

    --PRIMARY-color: var(--CONTAO-brand-color);

    --MAIN-font: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --MAIN-font-weight: 400;
    --MAIN-letter-spacing: normal;
    --MAIN-font-variation-settings: normal;
    --MAIN-TITLES-font-variation-settings: normal;
    --MAIN-TITLES-H1-font-variation-settings: normal;
    --MAIN-TITLES-H4-font-variation-settings: normal;

    --MENU-HEADER-BORDER-color: var(--CONTAO-brand-color-muted);
    --MENU-HEADER-BG-color: var(--PRIMARY-color);

    --MENU-SEARCH-color: rgba(255, 255, 255, 0.6);
    --MENU-SEARCH-BG-color: var(--MENU-HEADER-BG-color);
    --MENU-SEARCH-BORDER-color: var(--MENU-SEARCH-color);

    --MENU-BG-color: #0f1c26; 

    --MENU-SECTIONS-ACTIVE-BG-color: var(--MENU-BG-color);
    --MENU-SECTIONS-BG-color: #172b3b;
    --MENU-SECTIONS-LINK-color: #d3d5d7;
    --MENU-SECTIONS-LINK-HOVER-color: #fff;

    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #172b3b;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff;

    --EXPAND-BG-color: rgba(253, 253, 253, 0.8);
    --EXPAND-BORDER-color: rgba(218, 218, 218, 1);
    --EXPAND-ICON-color: #f47c00;

    --VERSION-TAG-BG-color: #6AB0DE;

    --NETWORK-BAR-height: 34px;

    --BEST-PRACTICE-BG-color: #e6f9e6; /* Colors for "best practice" shortcode */
    --BEST-PRACTICE-TAG-BG-color: #78c478;
    --BEST-PRACTICE-TABLE-BG-color: white;

    --EXAMPLE-TEXT-color: #6e6e6e; /* Colors for "example" shortcode */
    --EXAMPLE-HEADER-BG-color: #e7e7e7;
    --EXAMPLE-CONTENT-BG-color: #f6f6f6;
    --EXAMPLE-BORDER-color: #ccc;

    --BLOCK-QUOTE-BORDER-color: #F0F2F4;
}

#R-body-inner {
    scroll-behavior: smooth;
}

#R-body .flex-block-wrapper {
    max-width: 1200px;
    margin-left: 0;
    width: 100% !important;
}

#R-sidebar {
    font-weight: 300;
}

h1 {
    text-align: left;
}

b, strong, label, th {
    font-weight: 600;
}

#R-header-wrapper {
    border-bottom: 4px solid var(--MENU-HEADER-BORDER-color);
}

#R-homelinks {
    display: none;
}

.children-li p {
    font-size: small;
}

#R-shortcutmenu-home > ul.collapsible-menu {
    background-color: var(--MENU-BG-color);
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#R-sidebar ul.collapsible-menu li.active > a {
    border-left: 3px solid var(--PRIMARY-color);
    padding-left: calc(1rem - 3px);
}

#R-footer {
    padding: 2rem 1rem;
    padding-bottom: 0;
    text-align: left;
}

#R-menu-footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#R-menu-footer > hr {
    display: none;
}

/* Logo */
#R-header #logo {
    display: block;
}

#logo svg {
    max-width: 184px;
    height: auto;
    margin: 0;
    display: block;
}

#logo span {
    display: block;
    text-align: left;
    margin-top: 4px;
    color: white;
}

.box.cstyle.transparent > .box-content {
    padding-bottom: 1rem;
}

/* algolia */
#sidebar {
    z-index: 1;
}

.algolia-searchbox {
    margin-top: 1rem;
    position: relative;
    border: 1px solid var(--MENU-SEARCH-BORDER-color);
    background: var(--MENU-SEARCH-BG-color);
    border-radius: 4px;
}

.algolia-searchbox .algolia-autocomplete {
    display: block !important;
}

.algolia-searchbox .algolia-autocomplete .ds-dropdown-menu {
    max-width: 800px;
    min-width: 600px;
}

.algolia-searchbox label[for="algolia-search"] {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
}

.algolia-searchbox span[data-search-clear] {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.algolia-searchbox span[data-search-clear]:hover {
    color: rgba(255, 255, 255, 0.9);
}

.algolia-searchbox input[type="search"] {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
    font-weight: 300;
    appearance: none;
    -webkit-appearance: none;
}

.algolia-searchbox input[type="search"]::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.DocSearch-Button {
    --docsearch-muted-color: var(--MENU-SEARCH-color);
    --docsearch-text-color: var(--MENU-SEARCH-color);
    --docsearch-searchbox-background: transparent;
    --docsearch-searchbox-focus-background: transparent;
    --docsearch-searchbox-shadow: none;
    margin-left: 0;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: var(--MENU-SEARCH-color);
    width: 18px;
    height: auto;
}

#R-sidebar .DocSearch-Button-Placeholder {
    font-size: inherit;
    padding-left: 5px;
    padding-right: 0;
    color: var(--MENU-SEARCH-color);
}

.DocSearch .DocSearch-Button-Key {
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-text-color: rgb(150, 159, 175);
}

.DocSearch .DocSearch-Input {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0 0 0 8px;
    width: 80%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    transition: none;
}

/*
 * A little ugly hack: I want only the subpages of /reference/hooks/
 * to not have text-transform: uppercase; on the h1,
 * not the /reference/hooks/ page as well.
 */
body[data-url*="/reference/hooks/"]:not([data-url*="/reference/hooks/index.html"]) h1 {
    text-transform: none;
}

/* hide level 3 in general */
#R-sidebar ul.collapsible-menu > li > ul > li > ul,
#R-sidebar ul.collapsible-menu > li.active > ul > li > ul,
#R-sidebar ul.collapsible-menu > li.parent > ul > li > ul {
    display: none;
}

/* show level 3 when parent is active */
#R-sidebar ul.collapsible-menu > li.parent > ul > li.active > ul,
#R-sidebar ul.collapsible-menu > li.parent > ul > li.parent > ul {
    display: block;
}

/* hide level 3 on hooks page */
body[data-url*="/reference/hooks/"] #R-sidebar ul.collapsible-menu > li.parent > ul > li.parent > ul {
    display: none;
}

body[data-url*="/reference/hooks/"] #R-sidebar ul.collapsible-menu > li.parent > ul > li.parent > a {
    border-left: 3px solid var(--MENU-HEADER-BG-color);
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color);
    padding-left: calc(1rem - 3px);
}

/* allow more space for the namespaces table */
body[data-url="/cookbook/namespaces/"] #body .padding {
    max-width: none;
}

/* Banner */
#R-body .banner a.highlight {
    background: rgba(244, 124, 0, 1);
    border: 1px solid rgba(244, 124, 0, .2);
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 1rem;
    margin: 2rem 0;
    padding: 10px 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    line-height: 1.1;
}

#R-body .banner a:focus,
#R-body .banner a:hover {
    background: rgba(244, 124, 0, .8);
}

#R-body .banner a.highlight::after {
    background-color: transparent;
}

.banner span {
    display: block;
}

.banner .title {
    font-weight: bold;
    margin-bottom: 5px;
}

@media only screen and (min-width: 1200px) {
    .banner span {
        display: inline;
    }
    .banner .title {
        padding-right: 3rem;
    }
}

/* contao.org Top Navigation */
:root {
    --NETWORK-BAR-height: 34px;
}

body:before {
    content: '';
    background-color: #222;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: var(--NETWORK-BAR-height);
    z-index: 100;
}

#contao-network {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    letter-spacing: normal;
}

#R-sidebar,
#R-body,
.DocSearch-Container {
    margin-top: var(--NETWORK-BAR-height);
}

#R-sidebar,
#R-body {
    min-height: calc(100% - var(--NETWORK-BAR-height));
    height: calc(100% - var(--NETWORK-BAR-height));
}

#top-bar-sticky-wrapper {
    padding-top: var(--NETWORK-BAR-height);
    margin-top: calc(var(--NETWORK-BAR-height) * -1);
    box-sizing: content-box;
}

#top-bar-sticky-wrapper.is-sticky #top-bar {
    top: var(--NETWORK-BAR-height) !important;
}

#R-body img, #R-body .video-container {
    max-width: 100%;
    display: inline-block;
    margin: 1rem auto;
}

#R-body img.icon {
    margin: 0;
    vertical-align: middle;
}

.icon.backend {
    background: var(--MENU-HEADER-BG-color);
    height: 25px !important;
    margin-right: 5px !important;
    padding: 2px 5px !important;
    width: 25px !important;
}

/*
  Issue workflow (/dev/internals/issue-workflow/)
*/
span[class^="issue-label-"] {
    padding: 0 3px 2px;
    border-radius: 3px;
}

.issue-label-bug {
    background-color: #bd2c00;
    color: #fff;
}

.issue-label-feature {
    background-color: #3364b7;
    color: #fff;
}

.issue-label-discuss {
    background-color: #86c60d;
}

.issue-label-help {
    background-color: #c4dcfc;
}

.issue-label-status {
    background-color: #fbca04;
}

/*
  User-module guide (/manual/en/layout/module-management/user-modules/)
*/
.user-module .formbody .invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.user-module .formbody {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    min-width: 250px;
    width: 80%;
}

.user-module .formbody label {
    margin-bottom: 0.125rem;
}

.user-module .formbody .checkbox_container {
    border: none;
    margin: 0 0 20px 0;
    padding: 0;
}

.user-module .formbody .password-reset {
    margin-top: 15px;
}

.user-module .formbody .checkbox_container label {
    display: inline;
}

.user-module .formbody .error {
    color: #ff0000;
}

.user-module .formbody .submit {
    background: #f47c00;
    color: #fff;
    padding: 5px 10px;
}

/*
  Converter tools (/manual/en/system/settings/)
*/
.env-converter {
    display: inline-block;
    background: var(--MAIN-BODY-background);
    padding: 1rem 1rem 0.25rem;
    border: 1px solid var(--CODE-BORDER-color);
    border-radius: 6px;
}

.env-converter .env-widget {
    position: relative;
    background: inherit;
}

.env-converter .env-widget input,
.env-converter .env-widget label {
    font-size: 1rem;
    box-sizing: border-box;
}

.env-converter .env-widget input {
    padding: 0 0.75rem;
    background: none;
    border-radius: 6px;
    inline-size: 600px;
    height: 2.5rem;
    outline: none;
    resize: none;
    z-index: 1;
}

.env-converter .env-widget input + label {
    position: absolute;
    inset: -0.5rem auto auto 0.75rem;
    padding: 0 0.25rem;
    font-weight: 300;
    max-inline-size: calc(600px - 1.5rem);
    block-size: 3.5rem;
    line-height: 3.5rem;
    opacity: 0.8;
    transition: all 0.2s;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
}

.env-converter .env-widget.separator {
    border-bottom: 1px solid var(--CODE-BORDER-color);
    margin-bottom: 0.85rem;
}

.env-converter .env-widget > :is(:focus + label, [placeholder]:not(:placeholder-shown) + label, label.placeholder-active) {
    background: inherit;
    block-size: 1rem;
    line-height: 1rem;
    font-size: 0.75rem;
    opacity: 1;
}

/*
  Webfont guide (/manual/en/guides/webfont/)
*/
/* vollkorn-600 - latin */
@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('src-webfont/vollkorn-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('src-webfont/vollkorn-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('src-webfont/vollkorn-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('src-webfont/vollkorn-v12-latin-600.woff') format('woff'), /* Modern Browsers */
    url('src-webfont/vollkorn-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('src-webfont/vollkorn-v12-latin-600.svg#Vollkorn') format('svg'); /* Legacy iOS */
}
/* vollkorn-700italic - latin */
@font-face {
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('src-webfont/vollkorn-v12-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('src-webfont/vollkorn-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('src-webfont/vollkorn-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('src-webfont/vollkorn-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('src-webfont/vollkorn-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('src-webfont/vollkorn-v12-latin-700italic.svg#Vollkorn') format('svg'); /* Legacy iOS */
}

.fontDemoLyric {
    font-family: 'Vollkorn', serif;
    background-color: #F0B37E;
    border-radius: 8px;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    padding: 20px 20px;
    margin: 10px 0 10px 0;
}

.fontDemoAuthor {
    font-family: 'Vollkorn', serif;
    color: #666666;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/*
 * Shortcode expand
 */
.expand {
    background-color: var(--EXPAND-BG-color);
    margin: 0 0 0 0;
    border: 1px solid var(--EXPAND-BORDER-color);
}

.expand ~ .expand {
    margin: 1rem 0 0 0;
}

.expand .box-label {
    height: auto;
    padding: 7px 0 7px 10px;
    margin: 0 0 0 0;
    color: var(--MAIN-TITLES-TEXT-color);
    display: flex;
    align-items: center;
    line-height: 1.225;
    text-decoration: none;
}

.expand .box-label:hover {
    color: var(--MAIN-TITLES-TEXT-color);
}

.expand .box-label i {
    font-size: 1rem !important;
    width: 1rem;
    color: var(--EXPAND-ICON-color);
    margin-right: 0.5rem;
}

.expand .box-label span {
    display: inline-block;
}

.expand .box-label:hover {
    background-color:rgba(218, 218, 218, 0.1);
}

.expand .box-content {
    margin: 0 0 0 0;
    border-top: 1px solid var(--EXPAND-BORDER-color);
}

/* CSS for "version-tag" shortcode */
.version-tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: var(--VERSION-TAG-BG-color);
    font-size: 14px;
    color: white;
}

/** CSS for the "from-to" class **/
.from-to {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.from-to > div:first-child {
    position: relative;
}

.from-to > div:first-child:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    top: 100%;
    right: 0;
    bottom: -20px;
    left: 0;
    content: '🡇';
}

.from-to pre {
    padding: 10px;
    margin: 0 0 20px;
}

@media only screen and (min-width: 1200px) {
    .from-to {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }

    .from-to > div:first-child:after {
        top: 0;
        right: -40px;
        bottom: 20px;
        left: 100%;
        content: '🡆';
    }
}

/* CSS for "best practice" shortcode */
.best-practice {
    padding: 15px;
    margin: 20px -15px;
    background-color: var(--BEST-PRACTICE-BG-color);
}

.best-practice .tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: var(--BEST-PRACTICE-TAG-BG-color);
    font-size: 14px;
    color: white;
}

.best-practice .tag + * {
    display: inline;
}

.best-practice table td {
    background-color: var(--BEST-PRACTICE-TABLE-BG-color);
}

/* CSS for "example" shortcode */
.example {
    margin-top: 24px;
    background-color: var(--EXAMPLE-CONTENT-BG-color);
    border: 1px solid var(--EXAMPLE-BORDER-color);
    border-radius: 4px;
}

.example header {
    padding: .2em 1em;
    font-variant: all-small-caps;
    font-weight: 300;
    color: var(--EXAMPLE-TEXT-color);
    background-color: var(--EXAMPLE-HEADER-BG-color);
    border-bottom: 1px solid var(--EXAMPLE-BORDER-color);
}

.example > div {
    padding: 0 1em 0.25em 1em;
}

.example h1 {
    color: unset;
    font-size: unset;
    text-transform: unset;
    line-height: unset;
    font-weight: bold;
    margin: 1em 0;
}

.example pre {
    padding: 10px;
    margin: 0 0 20px;
}

/* Reset font-size of code in headlines (https://github.com/contao/docs/pull/1501#issuecomment-2653755330) */
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
nav.TableOfContents li a code {
    font-size: 92%;
}

/* Change Search Highlight Color */
mark {
  all: unset;
  color: #fff;
  background-color: var(--PRIMARY-color);
}

