{{/*
  *    Shortcode: changelog (/page/layouts/shortcodes/changelog.html)
  *
  *    Description:
  *    Show lastest version entries (changelog) from GitHub branch
  *
  *    Parameter:
  *    branch: Contao GitHub branch (default "4.13")
  * 
*/}}
{{ $getBranch     := .Get "branch" | default "4.13" }}

{{ $getRemotePath := printf "https://raw.githubusercontent.com/contao/contao/%s/CHANGELOG.md" $getBranch }}
{{ $getRemote     := resources.GetRemote $getRemotePath }}
{{ $strChangelog  := index (split $getRemote.Content "## ") 1 }}

{{/* Replacements: Typo - PR-Links - Contributor-Links - Version-Title */}}
{{ $strChangelog  = replace $strChangelog "**Fixed issues:**" "" }}
{{ $strChangelog  = replaceRE `\[#(.*?)\]` `[#$1](https://github.com/contao/contao/pull/$1)` $strChangelog }}
{{ $strChangelog  = replaceRE `\(\[(.*?)\]\)` `[($1)](https://github.com/$1)` $strChangelog }}
{{ $strChangelog  = replaceRE `\[(.*?)\] \((.*?)\)` `#### $1` $strChangelog }}

{{- $strChangelog -}}