{{/*
  *    Shortcode: imghash (page/layouts/shortcodes/imghash.html)
  *
  *    Description:
  *    Add image with hash parameter
  *
  *    Example Shortcode Usage: 
  *    {{% imghash src="/pathto/image" %}}
  * 
  *    Optional Parameter:
  *    {{% imghash src="relative/img/path" info="Alt Text" %}}
  *    {{% imghash src="relative/img/path" info="Alt Text" param="classes=shadow" %}}
  *
  *
*/}}

{{ $getPath     := .Get "src" | default false }}
{{ $getFilePath := slicestr $getPath 3 }}

{{ $getInfo   := .Get "info" | default " " }}
{{ $getParam  := .Get "param" }}

{{ if os.FileExists $getFilePath }}

 {{ $getFileHash := md5 (os.Stat $getFilePath).ModTime.Unix }}
 {{ $strTemp := "" }}
 
 {{ with $getParam }}
   {{ $strTemp = printf "![%s](%s?%s&v=%s)" $getInfo $getPath $getParam $getFileHash }}
 {{ else }}
   {{ $strTemp = printf "![%s](%s?v=%s)" $getInfo $getPath $getFileHash }}
 {{ end }}    

 {{- $strTemp | markdownify -}}

{{ end }}
