{{/*
  *    Shortcode: taxonomylist
  *    Version: 2.0.0
  *
  *    Create a List with linked Pages matching one Taxonomy Term. 
  * 
*/}}

{{ $Filter := .Get "filter" }}

<ul>
{{/* Range of Tags and Categories  */}}
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{ range $key, $value := $taxonomy }}

    {{ range $value.Pages }}

        {{ if or (eq $key $Filter) }}
          <li><a href="{{ .Permalink}}">{{ .LinkTitle }}</a><br><em>{{ .Description }}</em></li>  
        {{ end }}
        
    {{ end }}

  {{ end }}
{{ end }}
</ul>
