{{/*
  *   Shortcode: taxonomylist
  *   Version: 1.0
  *
  *   A List with linked Pages matching all Taxonomies Terms 
  *   ( Taxonomy Terms must be declared as Front Matter ) 
  *
  *   Examples:
  *   {{< taxonomylist >}}
  *
*/}}

<ul>
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a><ul>
      {{ range $key, $value := $taxonomy }}
      <li>{{ $key }}</li>
        <ul>
          {{ range $value.Pages }}
            <li><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </ul></li>
{{ end }}
</ul>