{{ $.Scratch.Set "version" .Site.Params.currentContaoVersion }}
{{ if len .Params | eq 1 }}
  {{ $version := .Get 0 }}
  {{ $.Scratch.Set "version" $version }}
{{ end }}
{{ if eq .Site.Language.Lang "en" }}
<div class="notices note">
  <p>This feature is only available in <strong>Contao {{ $.Scratch.Get "version" }}</strong> and later.</p>
</div>
{{ else }}
<div class="notices note">
  <p>Diese Funktion ist erst ab <strong>Contao {{ $.Scratch.Get "version" }}</strong> verfügbar.</p>
</div>
{{ end }}
