:root {

    --MAIN-BODY-background: #fff; /* Color of the body */

    --MAIN-TEXT-color: #323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color: #167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #f47c00; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #ffae5b; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #f47c00; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #ffae5b; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ffc78e; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #0f1c26; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #172b3b; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #d3d5d7; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #fff; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #172b3b; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

    --TOP-BAR-BG-color: #f6f6f6; /* Background color of the custom top bar */

    --BODY-NAV-BG-color-hover: #f6f6f6; /* Background color of the page navigation on hover */
    --BODY-NAV-ICON-color: #172b3b; /* Background color of the page navigation on hover */

    --PROGRESS-BG-color: rgba(246,246,246, 0.97); /* Background color of the jumpTo navigation */
    --PROGRESS-BORDER-color: #ECECEC; /* Border color of the jumpTo navigation */

    --CODE-TEXT-COLOR: #5e5e5e; /* <code> */
    --CODE-BG-color: #FFF7DD;
    --CODE-BORDER-color: #fbf0cb;

    --BLOCK-QUOTE-BORDER-color: #F0F2F4; /* Border color of the left border for block quotes */

    --EXAMPLE-TEXT-color: #6e6e6e; /* Colors for "example" shortcode */
    --EXAMPLE-HEADER-BG-color: #e7e7e7;
    --EXAMPLE-CONTENT-BG-color: #f6f6f6;
    --EXAMPLE-BORDER-color: #ccc;

    --BEST-PRACTICE-BG-color: #e6f9e6; /* Colors for "best practice" shortcode */
    --BEST-PRACTICE-TAG-BG-color: #78c478;
    --BEST-PRACTICE-TABLE-BG-color: white;

    --NOTICES-TEXT-color: #666; /* Notice boxes */
    --NOTICES-INFO-BORDER-color: #F0B37E;
    --NOTICES-INFO-BG-color: #FFF2DB;
    --NOTICES-WARNING-BORDER-color: rgba(217, 83, 79, 0.8);
    --NOTICES-WARNING-BG-color: #FAE2E2;
    --NOTICES-NOTE-BORDER-color: #6AB0DE;
    --NOTICES-NOTE-BG-color: #E7F2FA;
    --NOTICES-TIP-BORDER-color: rgba(92, 184, 92, 0.8);
    --NOTICES-TIP-BG-color: #E6F9E6;
    --NOTICES-IDEA-BORDER-color: rgba(217, 79, 203, 0.8);
    --NOTICES-IDEA-BG-color: #f0e2fa;

    --EXPAND-BG-color: rgba(253, 253, 253, 0.8); /* Shortcode Expand */
    --EXPAND-BORDER-color: rgba(218, 218, 218, 1);
    --EXPAND-ICON-color: #f47c00;

    --VERSION-TAG-BG-color: #6AB0DE; /* Contao version tag */

}

html[data-theme=dark] {

    --MAIN-BODY-background: #121416;
    --MAIN-TEXT-color: #cacaca;
    --MAIN-TITLES-TEXT-color: #dedede;
    --MAIN-LINK-color: #df7f2a;
    --MAIN-LINK-HOVER-color: #f47c00;
    --MAIN-ANCHOR-color: #dc6e00;

    --MENU-HEADER-BG-color: #292c32;
    --MENU-HEADER-BORDER-color: #f47c00;

    --MENU-SEARCH-BG-color: #292c32;
    --MENU-SEARCH-BOX-color: #f47c00;
    --MENU-SEARCH-BOX-ICONS-color: #f47c00;

    --MENU-SECTIONS-ACTIVE-BG-color: #1b1d21;
    --MENU-SECTIONS-BG-color: #272a30;
    --MENU-SECTIONS-LINK-color: #d3d6da;
    --MENU-SECTIONS-LINK-HOVER-color: #eaedf1;
    --MENU-SECTION-ACTIVE-CATEGORY-color: #eaedf1;
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #272a30;

    --MENU-VISITED-color: #f39b4f;
    --MENU-SECTION-HR-color: #1b1d21;

    --TOP-BAR-BG-color: #292c32;

    --BODY-NAV-BG-color-hover: #272a30;
    --BODY-NAV-ICON-color: #e3e3e3;

    --PROGRESS-BG-color: rgba(41,44,50,0.97);
    --PROGRESS-BORDER-color: #414448;

    --CODE-TEXT-COLOR: #e5e5e5;
    --CODE-BG-color: #272a30;
    --CODE-BORDER-color: #2d2d2d;

    --BLOCK-QUOTE-BORDER-color: #41454d;

    --EXAMPLE-TEXT-color: #bec1c6;
    --EXAMPLE-HEADER-BG-color: #2b2e35;
    --EXAMPLE-CONTENT-BG-color: #1b1d21;
    --EXAMPLE-BORDER-color: #282c34;

    --BEST-PRACTICE-BG-color: #233626;
    --BEST-PRACTICE-TAG-BG-color: #3c813c;
    --BEST-PRACTICE-TABLE-BG-color: #121416;

    --NOTICES-TEXT-color: #ddd;
    --NOTICES-INFO-BORDER-color: #f47c00;
    --NOTICES-INFO-BG-color: #5a370f;
    --NOTICES-WARNING-BORDER-color: #770d22;
    --NOTICES-WARNING-BG-color: #390914;
    --NOTICES-NOTE-BORDER-color: #2576ff;
    --NOTICES-NOTE-BG-color: #17263d;
    --NOTICES-TIP-BORDER-color: #00914a;
    --NOTICES-TIP-BG-color: #0f3424;
    --NOTICES-IDEA-BORDER-color: #633ec9;
    --NOTICES-IDEA-BG-color: #6a44d378;

    --EXPAND-BG-color: rgb(41 44 50);
    --EXPAND-BORDER-color: rgb(27 29 33);
    --EXPAND-ICON-color: #f47c00;

    --VERSION-TAG-BG-color: #0064ab;
}

body {
    background: var(--MAIN-BODY-background);
    color: var(--MAIN-TEXT-color) !important;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
    font-family: inherit;
}

h5 {
    font-size: 1.125rem;
}

a {
    color: var(--MAIN-LINK-color);
}

a code {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-HEADER-BG-color);
}

#body a.highlight:after {
    position: relative;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    padding-left: calc(1rem - 3px);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

/**
 * Custom
 */
#sidebar .highlightable {
    padding-top: 0;
}

#sidebar ul.topics {
    padding: 1rem 1rem;
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
    margin: 0;
}

#sidebar ul li.active > a {
    border-left: 3px solid #f47c00;
}

#footer {
    /*padding: 15px;
    /*border-top: 1px solid #3a454d;*/
    /*background: #172b3b;*/
}

#header a#logo {
    display: block;
}

#logo svg {
    max-width: 184px;
    height: auto;
    margin: 0;
    display: block;
}

#logo span {
    display: block;
    text-align: left;
    margin-top: 4px;
    color: white;
}

#body img, #body .video-container {
    max-width: 100%;
    display: inline-block;
    margin: 1rem auto;
}

#body img.icon {
    margin: 0;
    vertical-align: middle;
}

pre {
    background-color: #2b2b2b;
}

#body-inner {
    margin-bottom: 0;
}

code {
    color: var(--CODE-TEXT-COLOR);
    background: var(--CODE-BG-color);
    border-color: var(--CODE-BORDER-color);
}

pre code {
    font-size: 14px;
}

blockquote {
    border-color: var(--BLOCK-QUOTE-BORDER-color);
}

.notices pre {
    border-width: 0 15px 15px;
    border-style: solid;
    margin: 0;
}

div.notices p {
    color: var(--NOTICES-TEXT-color);
}

div.notices.info p {
    border-color: var(--NOTICES-INFO-BORDER-color);
    background: var(--NOTICES-INFO-BG-color);
}

.notices.info pre {
    border-color: var(--NOTICES-INFO-BG-color);
}

div.notices.warning p {
    border-color: var(--NOTICES-WARNING-BORDER-color);
    background: var(--NOTICES-WARNING-BG-color);
}

.notices.warning pre {
    border-color: var(--NOTICES-WARNING-BG-color);
}

div.notices.note p {
    border-color: var(--NOTICES-NOTE-BORDER-color);
    background: var(--NOTICES-NOTE-BG-color);
}

.notices.note pre {
    border-color: var(--NOTICES-NOTE-BG-color);
}

div.notices.tip p {
    border-color: var(--NOTICES-TIP-BORDER-color);
    background: var(--NOTICES-TIP-BG-color);
}

.notices.tip pre {
    border-color: var(--NOTICES-TIP-BG-color);
}

div.notices.idea p {
    border-top: 30px solid var(--NOTICES-IDEA-BORDER-color);
    background: var(--NOTICES-IDEA-BG-color);
}

.notices.idea pre {
    border-color: var(--NOTICES-IDEA-BG-color);
}

div.notices.idea p:first-child::before {
    content: "\f0eb"; /* light bulb */
}

h1 {
    text-align: left;
}

#body .padding {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1800px) {
    #body .padding {
        margin-left: 0;
        margin-right: 0;
    }
}

#navigation a {
    color: var(--MENU-SECTIONS-BG-color);
}

#body .nav i {
    opacity: 0.5;
    transition: opacity 0.2s;
    color: var(--BODY-NAV-ICON-color);
}

#body .nav:hover {
    background: var(--BODY-NAV-BG-color-hover);
}

#body .nav:hover i {
    opacity: 1;
}

/*
 * A little ugly hack: I want only the subpages of /reference/hooks/
 * to not have text-transform: uppercase; on the h1,
 * not the /reference/hooks/ page as well.
 */
body[data-url*="/reference/hooks/a"] h1,
body[data-url*="/reference/hooks/b"] h1,
body[data-url*="/reference/hooks/c"] h1,
body[data-url*="/reference/hooks/d"] h1,
body[data-url*="/reference/hooks/e"] h1,
body[data-url*="/reference/hooks/f"] h1,
body[data-url*="/reference/hooks/g"] h1,
body[data-url*="/reference/hooks/h"] h1,
body[data-url*="/reference/hooks/i"] h1,
body[data-url*="/reference/hooks/j"] h1,
body[data-url*="/reference/hooks/k"] h1,
body[data-url*="/reference/hooks/l"] h1,
body[data-url*="/reference/hooks/m"] h1,
body[data-url*="/reference/hooks/n"] h1,
body[data-url*="/reference/hooks/o"] h1,
body[data-url*="/reference/hooks/p"] h1,
body[data-url*="/reference/hooks/q"] h1,
body[data-url*="/reference/hooks/r"] h1,
body[data-url*="/reference/hooks/s"] h1,
body[data-url*="/reference/hooks/t"] h1,
body[data-url*="/reference/hooks/u"] h1,
body[data-url*="/reference/hooks/v"] h1,
body[data-url*="/reference/hooks/w"] h1,
body[data-url*="/reference/hooks/x"] h1,
body[data-url*="/reference/hooks/y"] h1,
body[data-url*="/reference/hooks/z"] h1 {
    text-transform: none;
}

/* hide level 3 in general */
#sidebar ul.topics > li > ul > li > ul,
#sidebar ul.topics > li.active > ul > li > ul,
#sidebar ul.topics > li.parent > ul > li > ul {
    display: none;
}

/* show level 3 when parent is active */
#sidebar ul.topics > li.parent > ul > li.active > ul,
#sidebar ul.topics > li.parent > ul > li.parent > ul {
    display: block;
}

/* hide level 3 on hooks page */
body[data-url*="/reference/hooks/"] #sidebar ul.topics > li.parent > ul > li.parent > ul {
    display: none;
}

body[data-url*="/reference/hooks/"] #sidebar ul.topics > li.parent > ul > li.parent > a {
    border-left: 3px solid var(--MENU-HEADER-BG-color);
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    padding-left: calc(1rem - 3px);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
}

/* allow more space for the namespaces table */
body[data-url="/cookbook/namespaces/"] #body .padding {
    max-width: none;
}

@media print {
    #sidebar {
        display: none;
    }

    #top-bar-sticky-wrapper {
        display: none;
    }

    #navigation {
        display: none;
    }

    #body {
        margin: 0;
    }

    #body .padding {
        max-width: none;
        padding: 0;
    }

    div.notices {
        page-break-inside: avoid;
        -webkit-print-color-adjust: exact;
    }

    h2 {
        page-break-after: avoid;
    }

    h3 {
        page-break-after: avoid;
    }

    h4 {
        page-break-after: avoid;
    }

    li {
        page-break-inside: avoid;
    }
}

#prefooter {
    padding-top: 1rem;
}

#footer {
    padding: 2rem 1rem;
}

html[lang="de"] div.notices.warning p:first-child:after {
    content: 'Warnung';
}

html[lang="de"] div.notices.note p:first-child:after {
    content: 'Notiz';
}

html[lang="en"] div.notices.idea p:first-child:after {
    content: 'Hint';
}

html[lang="de"] div.notices.idea p:first-child:after {
    content: 'Hinweis';
}

html[lang="de"] div.notices.tip p:first-child:after {
    content: 'Tipp';
}

/* fix #172 */
option {
    color: initial;
}

/* fix https://github.com/matcornic/hugo-theme-learn/issues/378 */
#TableOfContents li ul {
    padding-left: 15px;
    padding-right: 15px;
}
#TableOfContents li > a {
    padding: 0 !important;
}
#TableOfContents > ul > li > ul > li a {
    font-weight: normal;
}
#top-bar {
    background: var(--TOP-BAR-BG-color);
    position: relative;
}
.progress {
    left: 0;
    max-width: 100%;
    background-color: var(--PROGRESS-BG-color);
    border: thin solid var(--PROGRESS-BORDER-color);
}

/*
 * Shortcode expand
 */
.expand {
    background-color: var(--EXPAND-BG-color);
    margin: 0 0 0 0;
    border: 1px solid var(--EXPAND-BORDER-color);
}

.expand ~ .expand {
    margin: 1rem 0 0 0;
}

.expand-label {
    height: auto;
    padding: 7px 0 7px 10px;
    margin: 0 0 0 0;
    color: var(--MAIN-TITLES-TEXT-color);
    display: flex;
    align-items: center;
    line-height: 1.225;
}

.expand-label i {
    font-size: 1rem !important;
    width: 1rem;
    color: var(--EXPAND-ICON-color);
    margin-right: 0.5rem;
}

.expand-label span {
    display: inline-block;
}

.expand-label:hover {
    background-color:rgba(218, 218, 218, 0.1);
}

.expand-content {
    padding: 0 1rem 0 1rem;
    margin: 0 0 0 0;
    border-top: 1px solid var(--EXPAND-BORDER-color);
}

/* CSS for "version-tag" shortcode */
.version-tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: var(--VERSION-TAG-BG-color);
    font-size: 14px;
    color: white;
}

/* algolia */
#sidebar {
    z-index: 1;
}

.algolia-searchbox {
    margin-top: 1rem;
    position: relative;
    border: 1px solid var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
    border-radius: 4px;
}

.algolia-searchbox .algolia-autocomplete {
    display: block !important;
}

.algolia-searchbox .algolia-autocomplete .ds-dropdown-menu {
    max-width: 800px;
    min-width: 600px;
}

.algolia-searchbox label[for="algolia-search"] {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 10px;
    top: 3px;
}

.algolia-searchbox span[data-search-clear] {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
}

.algolia-searchbox span[data-search-clear]:hover {
    color: rgba(255, 255, 255, 0.9);
}

.algolia-searchbox input[type="search"] {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 30px;
    background: transparent;
    border: 0;
    padding: 0 25px 0 30px;
    margin: 0;
    font-weight: 300;
    appearance: none;
    -webkit-appearance: none;
}

.algolia-searchbox input[type="search"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.algolia-searchbox input[type="search"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.DocSearch-Button {
    --docsearch-muted-color: rgba(255, 255, 255, 0.6);
    --docsearch-text-color: rgba(255, 255, 255, 0.6);
    --docsearch-searchbox-background: transparent;
    --docsearch-searchbox-focus-background: transparent;
    --docsearch-searchbox-shadow: none;
    margin-left: 0;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 300;
}

.DocSearch .DocSearch-Search-Icon {
    width: 18px;
    height: auto;
}

.DocSearch .DocSearch-Button-Placeholder {
    font-size: inherit;
    padding-left: 5px;
    padding-right: 0;
}

.DocSearch .DocSearch-Button-Key {
    --docsearch-muted-color: rgb(150, 159, 175);
    --docsearch-text-color: rgb(150, 159, 175);
}

.DocSearch .DocSearch-Input {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0 0 0 8px;
    width: 80%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    transition: none;
}

#body .tab-content .tab-item > *:first-child {
    margin-top: 0;
}

#body .tab-content .tab-item > *:last-child {
    margin-bottom: 0;
}

/* Remove hr introduced in theme update */
#prefooter > hr {
    display: none;
}

/* Introduce gap between two consecutive code examples */
.highlight + .highlight {
    margin-top: 0.5em;
}

/* CSS for "example" shortcode */
.example {
    margin-top: 24px;
    background-color: var(--EXAMPLE-CONTENT-BG-color);
    border: 1px solid var(--EXAMPLE-BORDER-color);
    border-radius: 4px;
}

.example header {
    padding: .2em 1em;
    font-variant: all-small-caps;
    font-weight: 300;
    color: var(--EXAMPLE-TEXT-color);
    background-color: var(--EXAMPLE-HEADER-BG-color);
    border-bottom: 1px solid var(--EXAMPLE-BORDER-color);
}

.example > div {
    padding: 0 1em 0.25em 1em;
}

.example h1 {
    color: unset;
    font-size: unset;
    text-transform: unset;
    line-height: unset;
    font-weight: bold;
    margin: 1em 0;
}

.example pre {
    padding: 10px;
    margin: 0 0 20px;
}

/* CSS for "best practice" shortcode */
.best-practice {
    padding: 15px;
    margin: 20px -15px;
    background-color: var(--BEST-PRACTICE-BG-color);
}

.best-practice .tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: var(--BEST-PRACTICE-TAG-BG-color);
    font-size: 14px;
    color: white;
}

.best-practice .tag + * {
    display: inline;
}

.best-practice table td {
    background-color: var(--BEST-PRACTICE-TABLE-BG-color);
}

/** CSS for the "from-to" class **/
.from-to {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.from-to > div:first-child {
    position: relative;
}

.from-to > div:first-child:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    top: 100%;
    right: 0;
    bottom: -20px;
    left: 0;
    content: '🡇';
}

.from-to pre {
    padding: 10px;
    margin: 0 0 20px;
}

/* Invert contao logo */
html[data-theme=dark] #logo svg path:nth-last-of-type(1) { fill: #f47c00 }
html[data-theme=dark] #logo svg path:nth-last-of-type(2) { fill: #fff }

/* Dark mode styles for codeblocks */
html[data-theme=dark] pre { background-color: #1b1d21 !important }
html[data-theme=dark] .copy-to-clipboard:hover { background-color: #ffae5b }

/* Adjust box-shadow in dark mode */
html[data-theme=dark] #body img.shadow,
html[data-theme=dark] #body .video-container.shadow {
    box-shadow: 0 0 2px 1px rgb(231 231 231 / 30%)
}

/* Dark mode styles for buttons */
html[data-theme=dark] .btn:hover,
html[data-theme=dark] .btn:focus {
    color: #fff !important;
}

/* Dark mode styles for tables */
html[data-theme=dark] th {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

html[data-theme=dark] table,
html[data-theme=dark] td {
    border-color: var(--MENU-SECTIONS-BG-color);
}

/* Dark mode styles for tabs */
html[data-theme=dark] #body .tab-nav-button {
    background: #212429 !important;
    border-color: #414448 !important;
}

html[data-theme=dark] #body .tab-nav-button.active {
    border-color: var(--MENU-SEARCH-BOX-color) #414448 var(--MAIN-BODY-background) !important;
    background: var(--MAIN-BODY-background) !important;
}

html[data-theme=dark] #body .tab-content {
    border-color: #414448;
}

/* Adjust custom header menu border */
html[data-theme=dark] #toc-menu,
#sidebar-toggle-span {
    border-color: #7b7b7b !important;
}

@media only all and (max-width: 47.938em) {

    /* Sidebar overlay on open navigation */
    html[data-theme=dark] .sidebar-hidden #overlay {
        background: rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (min-width: 1200px) {
    .from-to {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }

    .from-to > div:first-child:after {
        top: 0;
        right: -40px;
        bottom: 20px;
        left: 100%;
        content: '🡆';
    }
}
