:root {

    --MAIN-TEXT-color: #323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #5e5e5e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #1C90F3; /* Color of links */
    --MAIN-LINK-HOVER-color: #167ad0; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #f47c00; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #ffae5b; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #f47c00; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #ffae5b; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ffc78e; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #0f1c26; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #172b3b; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #d3d5d7; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #fff; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #172b3b; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

}

body {
    color: var(--MAIN-TEXT-color) !important;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
    font-family: inherit;
}

h5 {
    font-size: 1.125rem;
}

a {
    color: var(--MAIN-LINK-color);
}

a code {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-HEADER-BG-color);
}

#body a.highlight:after {
    position: relative;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    padding-left: calc(1rem - 3px);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);    
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

/**
 * Custom
 */
#sidebar .highlightable {
    padding-top: 0;
}

#sidebar ul.topics {
    padding: 1rem 1rem;
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
    margin: 0;
}

#sidebar ul li.active > a {
    border-left: 3px solid var(--MENU-HEADER-BG-color);
}

#footer {
    /*padding: 15px;
    /*border-top: 1px solid #3a454d;*/
    /*background: #172b3b;*/
}

#header a#logo {
    display: block;
}

#logo svg {
    max-width: 184px;
    height: auto;
    margin: 0;
    display: block;
}

#logo span {
    display: block;
    text-align: left;
    margin-top: 4px;
    color: white;
}

#body img, #body .video-container {
    max-width: 100%;
    display: inline-block;
    margin: 1rem auto;
}

#body img.icon {
    margin: 0;
    vertical-align: middle;
}

pre {
    background-color: #2b2b2b;
}

#body-inner {
    margin-bottom: 0;
}

pre code {
    font-size: 14px;
}

.notices pre {
    border-width: 0 15px 15px;
    border-style: solid;
    margin: 0;
}

.notices.note pre {
    border-color: #E7F2FA;
}

.notices.info pre {
    border-color: #FFF2DB;
}

.notices.tip pre {
    border-color: #E6F9E6;
}

.notices.warning pre {
    border-color: #FAE2E2;
}

h1 {
    text-align: left;
}

#body .padding {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1800px) {
    #body .padding {
        margin-left: 0;
        margin-right: 0;
    }
}

#navigation a {
    color: var(--MENU-SECTIONS-BG-color);
}

#body .nav i {
    opacity: 0.5;
    transition: opacity 0.2s;
}

#body .nav:hover i {
    opacity: 1;
}

/*
 * A little ugly hack: I want only the subpages of /reference/hooks/
 * to not have text-transform: uppercase; on the h1,
 * not the /reference/hooks/ page as well.
 */
body[data-url^="/reference/hooks/a"] h1,
body[data-url^="/reference/hooks/b"] h1,
body[data-url^="/reference/hooks/c"] h1,
body[data-url^="/reference/hooks/d"] h1,
body[data-url^="/reference/hooks/e"] h1,
body[data-url^="/reference/hooks/f"] h1,
body[data-url^="/reference/hooks/g"] h1,
body[data-url^="/reference/hooks/h"] h1,
body[data-url^="/reference/hooks/i"] h1,
body[data-url^="/reference/hooks/j"] h1,
body[data-url^="/reference/hooks/k"] h1,
body[data-url^="/reference/hooks/l"] h1,
body[data-url^="/reference/hooks/m"] h1,
body[data-url^="/reference/hooks/n"] h1,
body[data-url^="/reference/hooks/o"] h1,
body[data-url^="/reference/hooks/p"] h1,
body[data-url^="/reference/hooks/q"] h1,
body[data-url^="/reference/hooks/r"] h1,
body[data-url^="/reference/hooks/s"] h1,
body[data-url^="/reference/hooks/t"] h1,
body[data-url^="/reference/hooks/u"] h1,
body[data-url^="/reference/hooks/v"] h1,
body[data-url^="/reference/hooks/w"] h1,
body[data-url^="/reference/hooks/x"] h1,
body[data-url^="/reference/hooks/y"] h1,
body[data-url^="/reference/hooks/z"] h1 {
    text-transform: none;
}

/* hide level 3 in general */
#sidebar ul.topics > li.parent > ul > li > ul {
    display: none;
}

/* show level 3 when parent is active */
#sidebar ul.topics > li.parent > ul > li.active > ul,
#sidebar ul.topics > li.parent > ul > li.parent > ul {
    display: block;
}

/* hide level 3 on hooks page */
body[data-url^="/reference/hooks/"] #sidebar ul.topics > li.parent > ul > li.parent > ul {
    display: none;
}

body[data-url^="/reference/hooks/"] #sidebar ul.topics > li.parent > ul > li.parent > a {
    border-left: 3px solid var(--MENU-HEADER-BG-color);
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    padding-left: calc(1rem - 3px);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
}

/* allow more space for the namespaces table */
body[data-url="/cookbook/namespaces/"] #body .padding {
    max-width: none;
}

@media print {
    #sidebar {
        display: none;
    }

    #top-bar-sticky-wrapper {
        display: none;
    }

    #navigation {
        display: none;
    }

    #body {
        margin: 0;
    }

    #body .padding {
        max-width: none;
        padding: 0;
    }

    div.notices {
        page-break-inside: avoid;
        -webkit-print-color-adjust: exact;
    }

    h2 {
        page-break-after: avoid;
    }

    h3 {
        page-break-after: avoid;
    }

    h4 {
        page-break-after: avoid;
    }

    li {
        page-break-inside: avoid;
    }
}

#prefooter {
    padding-top: 1rem;
}

#footer {
    padding: 2rem 1rem;
}

html[lang="de"] div.notices.warning p:first-child:after {
    content: 'Warnung';
}

html[lang="de"] div.notices.note p:first-child:after {
    content: 'Notiz';
}

/* fix #172 */
option {
    color: initial;
}

/* fix https://github.com/matcornic/hugo-theme-learn/issues/378 */
#TableOfContents li ul {
    padding-left: 15px;
    padding-right: 15px;
}
#TableOfContents li > a {
    padding: 0 !important;
}
#TableOfContents > ul > li > ul > li a {
    font-weight: normal;
}
#top-bar {
    position: relative;
}
.progress {
    left: 0;
    max-width: 100%;
}
