<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script>(function () {
    const config = {
        indexName: 'contao',
        apiKey: 'd7b61512c188a947014920ea920def01',
        container: '.algolia-searchbox',
        appId: 'KDZKB9K935',
        searchParameters: { 'facetFilters': [['manualtype:dev', 'manualtype:manual_{{ .Page.Language | default "en" }}']] },
        placeholder: '{{T "Search-placeholder"}}',
        translations: {
            button: {
                buttonText: '{{T "Search-placeholder"}}',
                buttonAriaLabel: '{{T "Search-placeholder"}}',
            }
        }
    };

    let executeClick = false;

    if (URLSearchParams !== undefined) {
        const params = new URLSearchParams(location.search);

        if (params.has('search')) {
            config.initialQuery = params.get('search');
            executeClick = true;
        }
    }

    docsearch(config);

    if (executeClick) {
        const button = document.querySelector('.DocSearch-Button');

        if (null !== button) {
            button.click();
        }
    }
})();
</script>
