{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<script src="{{"js/browser.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script src="{{"js/tools.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
<script>
  var _paq = window._paq = window._paq || [];
  _paq.push(['setRequestMethod', 'POST'])
  _paq.push(['disableCookies']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['enableHeartBeatTimer', 15]);
  _paq.push(['disableBrowserFeatureDetection']);
  _paq.push(['trackPageView']);
  (function() {
    var u='https://mt.contao.org/js/';
    _paq.push(['setTrackerUrl', u]);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.defer=true; g.src=u; s.parentNode.insertBefore(g,s);
  })();
</script>

{{ $searchXml := .Site.Home.OutputFormats.Get "opensearchxml" }}
{{ if $searchXml }}
<link rel="search" type="application/opensearchdescription+xml" title="Search {{ .Site.Title }}" href="{{ $searchXml.RelPermalink }}">
{{ end }}
