<div class="dark-mode__switch">
  <input id="dark-mode-toggle" class="dark-mode__input" type="checkbox" onchange="setColorMode(this.checked?'light':'dark')" onload="getColorMode()" checked=""/>
  <label class="dark-mode__label" for="dark-mode-toggle">
    <span class="dark-mode__indicator"></span>
    <span class="dark-mode__decoration"></span>
  </label>
</div>
<script>
  const setColorMode = (theme) => {
    document.documentElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }

  const getColorMode = () => {
    const getStoredTheme = () => localStorage.getItem('theme');
    const storedTheme = getStoredTheme();

    if (storedTheme) {
      return storedTheme;
    }

    return window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
  }

  const colorMode = getColorMode();
  setColorMode(colorMode);
  document.getElementById('dark-mode-toggle').checked = colorMode === 'light';
</script>
