{{ $faqs := .Page.Scratch.Get "faqs" }}
{{ printf "%#v" $faqs }}
{{ range $question, $answer := $faqs }}
    <p>
        Question: {{ $question }}<br>
        Answer: {{ $answer }}
    </p>
{{ end }}

{{/*
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
        "@type": "Question",
        "name": "{{$expandMessage := T "Expand-title"}}{{ if .IsNamedParams }}{{.Get "default" | default $expandMessage}}{{else}}{{.Get 0 | default $expandMessage}}{{end}}",
        "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{.Inner | safeHTML}}"
        }
        }]
    }
</script>
*/}}