name: Regularly check for broken links and report those as issue

on:
    schedule:
        - cron: '*/10 * * * *' # TODO change to "0 2 * * 1"

jobs:
    check_dev:
        runs-on: ubuntu-latest
        steps:
            - name: Set up PHP
              uses: shivammathur/setup-php@v1
              with:
                  php-version: 7.4
                  extensions: json

            - name: Checkout
              uses: actions/checkout@v2

            - name: Cache Composer vendor
              uses: actions/cache@v1
              with:
                  path: link-checker/vendor/
                  key: ${{ runner.os }}-link-checker-vendor

            - name: Install Composer dependencies
              run: cd link-checker && composer install --no-interaction --no-suggest

            - name: Link checker (dev)
              run: link-checker/check dev
              continue-on-error: true

            - name: Link checker (manual)
              run: link-checker/check manual
              continue-on-error: true

            - name: Create issue (dev)
              uses: peter-evans/create-issue-from-file@v2
              with:
                  title: Link Checker Report
                  content-filepath: ./link-checker/dev-result.md
                  labels: Bug, Developer Documentation

            - name: Create issue (manual)
              uses: peter-evans/create-issue-from-file@v2
              with:
                  title: Link Checker Report
                  content-filepath: ./link-checker/manual-result.md
                  labels: Bug, User Manual
